#cargando {
    position:absolute;
    width:100%;
    height:100%;
    background: black url(../images/loading.gif) no-repeat center;
}

/* BASIC RESET */
ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,input
{
    margin:0;
    padding:0;
}
h1,h2,h3,h4
{
	color:white;
	font-family: 'Amita', cursive;
    font-size: 20px;
}
.style-title
{    font: bold 65px/60px;
     color: #eee;
}
.size-title
{
    font-size: 30px;
}
.hr-title
{
    border: 3px solid #666;
    border-radius: 300px/10px;
    height: 0px;
    text-align: center;
    margin: 30px 15px 70px
}
#black
{
    color: black;
}
/*----header----*/

.header{
    width: 100%;
    height: auto;
    background-color:#04B4AE;
    margin:0;
    border-radius: 0;
    z-index:5;
    padding: 0;
    opacity: 0.9;
}
.logo{
    width: auto;
}
.logo img
{
    width: 80px;
}
.navbar-header{
    padding-left: 20px;
}
.main-menu {
    background:#166973;
    width: 45px;
}
.main-menu:hover
{
    background:#166 ;
}
.header .navbar-nav>li>a{
    padding: 10px 15px      ;
    color: #EBEDEE;
}
.header .navbar-nav{
    margin:0;
}
.effect-button>li:hover
{
    background-color:#15dab6;
    color:#111;
    height:54px;
    -webkit-animation-name: hvr-buzz-out;
    animation-name: hvr-buzz-out;
    -webkit-animation-duration: 0.75s;
    animation-duration: 0.75s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}
.navbar-collapse
{
    padding: 0;
}
/*--portada--*/
.opacity{
	background-color:black;
	opacity: 0.8;
    padding: 89px;

}
section
{
    margin-top: 53px;
}
.header-content{
    background: url(../images/programacion.jpg);
	background-size: cover;
	color: #fff;
	text-align: center;
}

.large-header {
	position: relative;
	width: 100%;
	overflow: hidden;
    background-color:black;
	opacity: 0.8;
	background-size: cover;
	background-position: center center;
	z-index: 1;
}
	/* Main styles */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:800);

.text--transparent {
  fill: transparent;
}

.anim-shape {
  -webkit-transform-origin: 0x 150px;
  -ms-transform-origin: 0x 150px;
  transform-origin: 0x 150px;
  -webkit-transform: scale(0, 1) translate(0, 0);
  -ms-transform: scale(0, 1) translate(0, 0);
  transform: scale(0, 1) translate(0, 0);
  -webkit-animation: moving-panel 3s infinite alternate;
  animation: moving-panel 3s infinite alternate;
}

.colortext .anim-shape:nth-child(1) {
  fill: #0E1826;
}

.colortext .anim-shape:nth-child(2) {
  fill: #166973;
}

.colortext .anim-shape:nth-child(3) {
  fill: #65BFA6;
}

.colortext .anim-shape:nth-child(4) {
  fill: #F2CD5C;
}

.colortext .anim-shape:nth-child(5) {
  fill: #F26444;
}

.shadow {
  -webkit-transform: translate(10px, 10px);
  -ms-transform: translate(10px, 10px);
  transform: translate(10px, 10px);
}

.anim-shape--shadow {
  fill: #6E6E6E;
  fill-opacity: .2;
}

@-webkit-keyframes moving-panel {
  100% {
    -webkit-transform: scale(1, 1) translate(20px, 0);
    transform: scale(1, 1) translate(20px, 0);
  }
}

@keyframes moving-panel {
  100% {
    -webkit-transform: scale(1, 1) translate(20px, 0);
    transform: scale(1, 1) translate(20px, 0);
  }
}
/* Other stuff */

.nombre {
  height: 100%;
  background: transparent;
  font: 9em/1  Impact, "amita";
  text-transform: uppercase;

}
.posicion{
  position:absolute;
  bottom: 10%;
  right: 2%;
}

svg {
  position:relative;
}
#about
{
    margin: 50px 50px 70px;
    background-color: white;
}
.sobre-mi
{
    padding:40px 0px;

}
.photo img
{
    width: 65%;
    height: auto;
}
#about-me
{
    padding: 20px;
    font-size: 18px;
    font-family: Open Sans;
    }
/*mensaje */
.mensaje
{
    padding:70px 0px;
    background: url(../images/mensajes.jpg) no-repeat center center fixed;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
}
.mensaje>h1
{
    color: s;
    padding: 60px 20px;
    font-size: 40px;
}
.hr-arriba
{
    border-top: 3px solid #AEB404;
    border-bottom: 2px dashed #AEB404;
    border-left:none;
    border-right:none;
    height: 6px;
 }
.hr-abajo
{
    border-bottom: 3px solid #AEB404;
    border-top: 2px dashed #AEB404;
    border-left:none;
    border-right:none;
    height: 6px;
}
/* Portafolio */
.portafolio
{
    padding: 60px 20px 10px;
}
#portafolio
{   list-style:none;
    margin:100px 0;
    height: 400px;
    padding: 20px;
}
#portafolio li
{
    padding: 50px 0 ;
    display:inline;
    float:left;
	-webkit-perspective: 500;
    -webkit-transform-style: preserve-3d;
	-webkit-transition-property: perspective;
    -webkit-transition-duration: 0.5s; }
#portafolio li:hover
{   -webkit-perspective: 500; }

#portafolio li img
{   border:10px solid #fcfafa;
    -webkit-transform: rotateY(30deg);
	-moz-box-shadow:0 3px 10px #888;
    -webkit-box-shadow:0 3px 10px #888;
	-webkit-transition-property: transform;
    -webkit-transition-duration: 0.5s;
    width: 250px;
    height: 160px;
}
#portafolio li:hover img
{   -webkit-transform: rotateY(0deg); }
.portafo-info
{   padding:20px;
    width:150px;
    height:80px;
    background-color:#04B4AE;
    margin:-235px 40px 20px 120px;
    position:absolute;
	-moz-box-shadow:0 20px 40px #888;
    -webkit-box-shadow:0 20px 40px #888;
	-webkit-transform: translateZ(30px) rotateY(30deg);
	-webkit-transition-property: transform, box-shadow, margin;
    -webkit-transition-duration: 0.8s;
}
#portafolio li:hover .portafo-info
{   -webkit-transform: rotateY(0deg);
    -webkit-box-shadow:0 5px 10px #888;
    margin:-95px 0 0 30px;
}

.portafo-info h4
{
    font-variant: small-caps;
    font-family:"amita",serif,Times;
    text-align:center;
    padding-bottom:15px;
}
.portafo-info a
{
    background-color:#166973;
    padding:5px 10px; color:#eee;
    text-decoration:none;
    display:block;
    width:100px;
    text-align:center;
    margin:0 auto;
	-moz-border-radius:5px;
    -webkit-border-radius:5px;
}
.portafo-info a:hover, .movieinfo a:focus
{
    background-color:#166993;
    color:#fff;
}
/*--fin portafolio---*/
/*--habilidades--*/
.habilidades
{
    padding: 80px 0px;
}
.habilidades .icon{
	font-size: 150px;
	text-align: center;
	color:#65BFA6;
}
.habilidades i:hover{
    color:#2E9;
	font-size:160px;
	transition: all 0.8s;
}
.habilidades p{
	font-size: 17px;
}
/*--fin habilidades--*/
/*--contactos--*/
.contact
{
    background: #2E9;
    padding: 50px 30px 10px;
}
.contact p
{
    text-shadow:0 1px 0 #fff;
    font-size:24px;
}
#wrap
{
    width:530px;
    margin:20px auto 0;
    padding: 20px;

}
.contact h1
{
    margin-bottom:20px;
    text-align:center;
    text-shadow:0 1px 0 #ede8d9; }
#form_wrap
{
    overflow:hidden;
    width: 530px;
    height:446px;
    position:relative;
    top:0px;
    -webkit-transition: all 1s ease-in-out .3s;
    -moz-transition: all 1s ease-in-out .3s;
	-o-transition: all 1s ease-in-out .3s;
    transition: all 1s ease-in-out .3s;
}

#form_wrap:before
{
    content:"";
    position:absolute;
    bottom:128px;left:0px;
    background:url(../images/before.png);
	width:530px;
    height: 316px;}

#form_wrap:after
{
    content:"";position:absolute;
	bottom:0px;left:0;
	background:url(../images/after.png);
	width:530px;height: 260px;
}

	#form_wrap.hide:after, #form_wrap.hide:before
    {
        display:none;
    }
	#form_wrap:hover
    {
        height:776px;
        top:-200px;
    }


	form
    {
        background:#f7f2ec url(../images/letter_bg.png);
		position:relative;
        top:200px;
        overflow:hidden;
		height:200px;
        width:420px;
        margin:0px auto;
        padding:20px;
		border: 1px solid #fff;
		border-radius: 3px;
		-moz-border-radius: 3px;
        -webkit-border-radius: 3px;
		box-shadow: 0px 0px 3px #9d9d9d, inset 0px 0px 27px #fff;
		-moz-box-shadow: 0px 0px 3px #9d9d9d, inset 0px 0px 14px #fff;
		-webkit-box-shadow: 0px 0px 3px #9d9d9d, inset 0px 0px 27px #fff;
		-webkit-transition: all 1s ease-in-out .3s;
		-moz-transition: all 1s ease-in-out .3s;
		-o-transition: all 1s ease-in-out .3s;
		transition: all 1s ease-in-out .3s;}


		#form_wrap:hover form {height:530px;}

		label {
			margin: 11px 20px 0 0;
			font-size: 16px;
            color: #b3aba1;
			text-transform: uppercase;
			text-shadow: 0px 1px 0px #fff;
		}

		input[type=text], textarea {
			font: 14px normal normal uppercase helvetica, arial, serif;
			color: #7c7873;background:none;
			width: 380px; height: 36px; padding: 0px 10px; margin: 0 0 10px 0;
			border:1px solid #f8f5f1;
			-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
			-moz-box-shadow: inset 0px 0px 1px #726959;
			-webkit-box-shadow:  inset 0px 0px 1px #b3a895;
			box-shadow:  inset 0px 0px 1px #b3a895;
		}

		textarea
        {
            height: 80px;
            padding-top:14px;
        }

		textarea:focus, input[type=text]:focus
        {
            background:rgba(255,255,255,.35);
        }

		#form_wrap input[type=submit]
        {
			position:relative;
            font-family: 'YanoneKaffeesatzRegular';
			font-size:24px;
            color: #7c7873;
            text-shadow:0 1px 0 #fff;
			width:100%;
            text-align:center;
            opacity:0;
			background:none;
			cursor: pointer;
			-moz-border-radius: 3px;
            -webkit-border-radius: 3px; border-radius: 3px;
			-webkit-transition: opacity .6s ease-in-out 0s;
			-moz-transition: opacity .6s ease-in-out 0s;
			-o-transition: opacity .6s ease-in-out 0s;
			transition: opacity .6s ease-in-out 0s;
		}

		#form_wrap:hover input[type=submit]
        {
            z-index:1;opacity:1;
			-webkit-transition: opacity .5s ease-in-out 1.3s;
			-moz-transition: opacity .5s ease-in-out 1.3s;
			-o-transition: opacity .5s ease-in-out 1.3s;
			transition: opacity .5s ease-in-out 1.3s;}

        #form_wrap:hover input:hover[type=submit]
        {
            color:#435c70;
        }

.content-contact{
	background : black;
    padding:20px;
}
.contact-links li{
	list-style: none;
	display: inline-block;
	font-size: 40px;
}
.content-contact .contact-links ul{
	text-align: center;
}
.content-contact .contact-links li{
	padding: 10px;
}

/*---fin-contactos---*/

