body{
	color: #555555;
	font-family: Arial;
	font-size: 13px;
}
h1 ,h2,h3,h4{
	color: #A9268D;
	font-family:"Oswald",Arial,Sans-serif;
}
.main-menu a:hover{
	background-color: #ECECEC;
}
.list-nav{
	text-align: center;
}
.list-nav li{
	display:inline-block;
}
.list-nav a {
	display: block;
	padding: 5px 20px;
	font-family:"Oswald",Arial,Sans-serif;
	color: #555555;
	text-transform: uppercase;
	transition:all 0.5s;
}
.list-nav a:hover{
	text-decoration: none;
	transform: scale(1.2)
}
.header-content{
	background: url(../images/fondo-1.jpg);
	background-size: cover;
	color: #fff;
	text-align: center;
	padding: 50px;
}
	/* Main styles */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:800);

.text--transparent {
  fill: transparent;
}

.anim-shape {
  -webkit-transform-origin: 0x 150px;
  -ms-transform-origin: 0x 150px;
  transform-origin: 0x 150px;
  -webkit-transform: scale(0, 1) translate(0, 0);
  -ms-transform: scale(0, 1) translate(0, 0);
  transform: scale(0, 1) translate(0, 0);
  -webkit-animation: moving-panel 3s infinite alternate;
  animation: moving-panel 3s infinite alternate;
}

.colortext .anim-shape:nth-child(1) {
  fill: #0E1826;
}

.colortext .anim-shape:nth-child(2) {
  fill: #166973;
}

.colortext .anim-shape:nth-child(3) {
  fill: #65BFA6;
}

.colortext .anim-shape:nth-child(4) {
  fill: #F2CD5C;
}

.colortext .anim-shape:nth-child(5) {
  fill: #F26444;
}

.shadow {
  -webkit-transform: translate(10px, 10px);
  -ms-transform: translate(10px, 10px);
  transform: translate(10px, 10px);
}

.anim-shape--shadow {
  fill: #000;
  fill-opacity: .2;
}

@-webkit-keyframes moving-panel {
  100% {
    -webkit-transform: scale(1, 1) translate(20px, 0);
    transform: scale(1, 1) translate(20px, 0);
  }
}

@keyframes moving-panel {
  100% {
    -webkit-transform: scale(1, 1) translate(20px, 0);
    transform: scale(1, 1) translate(20px, 0);
  }
}

/* Other stuff */

.nombre {
	height: 100%;
  background: transparent;
  font: 9em/1 Open Sans, Impact;
  text-transform: uppercase;

}

svg {
  position:relative;
  
}
.about-me{
	background: url(../images/fondo-2.png);
	background-size: cover;
}
 .about-me .biografia img{
	float: left;
	width: 200px;
	margin-right: 15px;
	border:1px solid #555555;
	padding: 5px;
}
 .about-me p{
 	color: white;
 	font-size: 16px;
 }
.favoritos ul{
	height: 260px;
	overflow-y:auto;

}
.favoritos img{
	margin-top:20px;
	width: 200px;
}
.contactos{
	background: url(../images/tile2.png);
	padding: 2%;
}